{% extends 'base.html.twig' %}

{% block title %}Search results{% endblock %}

{% block body %}
    <h2>Search term is:{{ term }}</h2>
    <ul>
        {% for user in users %}
            <li>{{ user.id }}:{{ user.firstName|raw }}&nbsp;{{ user.lastName }}</li>
        {% endfor %}
    </ul>
{% endblock %}
